.wp-block-vk-blocks-dynamic-if {
	border: 1px dotted #ccc;
	padding: 4px;
	position: relative;
	.editor-styles-wrapper .is-layout-constrained > * + & {
		margin-block-start: 0;
	}
}
.vk-dynamic-if-block__label {
	position: absolute;
	padding: 1px 5px;
	top: 0;
	right: 0;
	font-size: 9px;
	text-align: right;
	background-color: #e5e5e5;
	z-index: 10000;
}

// Specific margin-bottom of user role check box
.dynamic-if-user-role .components-checkbox-control {
	margin-bottom: 15px;
}

.vkdif .vkdif__refer-cf-name {
	margin-bottom: 0;
	& .components-base-control__help {
		margin-bottom: 0;
	}
}

// alert
.vkdif__alert {
	padding: 1em;
	margin: 0.5em auto;
	border-radius: 3px;
	p {
		margin: 0;
	}

	@each $var
		in (
			(success, #dff0d8, #3c763d, #d6e9c6),
			(info, #d9edf7, #31708f, #bce8f1),
			(warning, #fcf8e3, #8a6d3b, #faebcc),
			(danger, #f2dede, #a94442, #ebccd1)
		)
	{
		$class-name: nth($var, 1);
		$color-bg: nth($var, 2);
		$color: nth($var, 3);
		$color-border: nth($var, 4);
		&-#{$class-name} {
			background-color: $color-bg;
			color: $color;
			border-color: $color-border;
		}
	}
}

/** ==============================
UI・仕様変更用
============================== */
.vkdif__controls-panel {
	border-top: 1px solid #dddddd;
	display: grid;
	gap: 16px;
	margin-top: -1px;
	padding: 16px;
	.controls-panel-header {
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: calc(8px);
		grid-column: 1 / -1;
		justify-content: space-between;
		width: 100%;
		-webkit-box-align: center;
		-webkit-box-pack: justify;

		h2 {
			font-weight: 500;
			margin: 0;
		}

		.controls-panel-header__dropdown-menus {
			line-height: 0;
			margin: -4px 0;

			.components-button {
				padding: 0px;
				min-width: 24px;
			}

			.components-spinner {
				margin: 0 4px;
			}
		}
	}
}
